* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;;
}

 input  {
    border: none;
}
input:focus {
    background-color: #a366ff;
    color: white;
}

input:focus::placeholder {
    color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}


.tela-esq {
    width: 40vw;
    background-color:  #196666;

    padding: .8rem 3rem;
}



.tela-esq__saldo, .renda, .gastos
{
    background-color: #d6f5f5;
}

.tela-esq__saldo {

    border-radius: 8px;

  

    margin-top: 4rem;
    padding: 1rem 2rem;
}

.tela-esq__saldo h1 {
    color: #262626;
}

.saldo__valor {
    color: #008ae6;
    font-weight: 700;

    margin-top: .2rem;
    
}

.tela-esq__fluxo {
    background-color: #d6f5f5;
    border-radius: 4px;

    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 3rem;

    

}
.renda, .gastos {
    padding: 1rem 1.4rem;
    color: #262626;
}

.renda {
    margin-right: 1rem;

}

.renda__titulo, .gastos__titulo {
    font-weight: 700;
    font-size: 20px;
}

.renda__valor, .gastos__valor {
    font-weight: 500;
}

.renda__valor {
    color: green;
    display: block;
}

.gastos__valor {
    color: red;
    display: block;
}


.tela-dir {
    width: 60vw;
    justify-self: center;

    background-color: #d6f5f5;

    padding: 3rem;
}

.tela-dir__tiulo {
    color: #262626;
}


.formulario__entrada, #formulario__adicionar{
    padding: .5rem 1rem;
}

#descricao {
    width: 50%;
}

 #valor {
    width:30% ;

 }

#formulario {
    margin: 1rem auto 1.5rem auto ;

    width: 100%;
}

.formulario__aviso {
    font-weight: 600;

    display: block;
    color: #737373;

    margin-bottom: .2rem;
    margin-left: 8px;
}

#formulario__adicionar {
    border: none;
    border-radius: 4px;

    background-color: blue;
    color: white;

    font-weight: 600;

    width: auto;
    margin-left: .2rem;
}

#formulario__adicionar:hover {
    background-color:  #0000cc;
}

#formulario__adicionar:active {
    background-color:    #6666ff;
}


li {
    list-style: none;
    margin-bottom: .5rem;
}

#listaDespesas {

    height: 80%;
    overflow-y: scroll;
    padding: 0 .5rem;
}

#listaDespesas li {
    background-color: white;

    border-bottom: 1px solid #ccc;
    
    display: flex;
    justify-content: space-between;
    
    padding: 1rem 2rem;
    
    height: auto;
    width: 100%;

}

#listaDespesas li span {
    color: #595959;
    font-weight: 600;
}

.positivo {
    border-right: 10px solid green;
    border-radius: 4px;
}

.negativo {
     border-right: 10px solid red;
     border-radius: 4px;
}

.item__despesas {
   font-weight: 700;
}
