* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.tela-esq {
    width: 40vw;
    background-color: burlywood;
    padding: 3rem;
}

.tela-dir {
    width: 60vw;
    justify-self: center;
    padding: 3rem;
}



.formulario__entrada, #formulario__adicionar,.formulario__seleciona {
    padding: .5rem 1rem;
}

#descricao {
    width: 40%;
}