
.tela-esq {
    width: 40vw;
    background-color:  #196666;

    padding: .8rem 3rem;
}



.tela-esq__saldo, .renda, .gastos
{
    background-color: #d6f5f5;
}

.tela-esq__saldo {

    border-radius: 8px;

    margin-top: 4rem;
    padding: 1rem 2rem;
}

.tela-esq__saldo h1 {
    color: #262626;
}

.saldo__valor {
    color: #008ae6;
    font-weight: 700;

    margin-top: .2rem;
    
}

.tela-esq__fluxo {
    background-color: #d6f5f5;
    border-radius: 4px;

    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 3rem;
}
.renda, .gastos {
    padding: 1rem 1.4rem;
    color: #262626;
}

.renda {
    margin-right: 1rem;

}

.renda__titulo, .gastos__titulo {
    font-weight: 700;
    font-size: 20px;
}

.renda__valor, .gastos__valor {
    font-weight: 500;
}

.renda__valor {
    color: green;
    display: block;
}

.gastos__valor {
    color: red;
    display: block;
}

@media screen and (max-width:1023px) {
    
    .tela-esq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

         width: 100%;

         height: auto;
        
         margin: 0;
         padding: 2rem 0;
         
    }

    .tela-esq__saldo, .tela-esq__fluxo {
        width: 60%;
        padding: 0;
        margin: 0;
    }

    .tela-esq__saldo{
        padding: .2rem;
        margin-bottom: .5rem;
        padding-left: 8% ;

        box-sizing: border-box;
    }


    .tela-esq__saldo h1{
        font-size: 24px;
        line-height: 2rem;   
    }

    .saldo__valor {
        font-size: 18px;
     
    }

    
    .tela-esq__fluxo {
        justify-content: center;
        padding: .5rem 1rem;
        box-sizing: border-box;
    }
   
    .renda, .gastos {
        padding: 0;
        margin: 0;
    }

    .gastos__valor, .renda__valor {
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    
    .tela-esq__saldo, .tela-esq__fluxo {
        width: 80%;
    }

    .tela-esq__saldo h1{
        font-size: 24px;
        line-height: 2rem;   
    }

    .saldo__valor {
        font-size: 18px;
        margin-top: -.2rem;
     
    }
   
    .renda__titulo, .gastos__titulo, .gastos__valor, .renda__valor {
        font-size: 14px;
    }

    .renda__valor, .gastos__valor {
        display: block;
        margin-top: -.2rem;
    }

}
